@use './admin/dashboard';
@use './admin/products';
@use './admin/chart';
@use './admin/dashboardapp';
@use './admin/mediaqueries';
@use "./admin/mixins" ;


:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
   
  }
  
  *{
    margin:0;
    padding:0;
    box-sizing: border-box ;
      
  }

  a{
    text-decoration: none;
    color:black
  }

$color1:white;
$color2:rgb(46,46,46);
$color3:rgb(0,104,136);

  .red{
    color:red
  }

  .purple{
    color:purple
  } 

  .green{
    color:green
  }
  

  .adminContainer{
    @include mixins.grid(1fr 4fr,2rem);
    height: 100vh;
    background-color: whitesmoke;
    > aside {
     width: 100%;
     background-color: white;
     padding: 1rem;
     z-index:10rem;
     overflow-y: auto;
     &::-webkit-scrollbar{
        display: none;
     }

     >div{
        margin:2rem 1rem;

        >h5{
            @include mixins.heading(2px);
            opacity:0.8;
        }

        >ul{
            @include mixins.flex(column,unset,unset,0.5rem);
            list-style: none;
        
        >li{

         padding: 0.5rem 1rem;
         border-radius: 10px;

         a{
            color: rgba($color: #000000, $alpha: 0.8250);
            @include mixins.flex(row,unset)
         }
     

        }
        
        }




     }
    } 
  }


  .hide-scrollbar{
    &::-webkit-scrollbar{
      display: none;
    }
  }