@use "mixins" ;
.dashboard{
    overflow-y: auto;
    
    
    .bar{
        height: 4rem;
        @include mixins.flex(row,unset);
        padding:0 1rem;
        
        border-bottom: 1px solid rgba(0,0,0,0.37);
        
        
     > input{
        margin-right:auto;
        @include mixins.inputStyle(100%,1rem,0);
        background-color: whitesmoke;
     }   
        
    }
    
    .widgetcontainer{
        overflow-y: auto;
        &::-webkit-scrollbar{
            display: none;
         }
@include mixins.flex(row,space-between,stretch,2rem);
padding: 2rem;

    .widget{
        min-width: 16rem;
        background-color: white;
        box-shadow: 0 0 10px rgba(0,0,0,0.132);
        padding: 2rem;
        @include mixins.flex(row,space-between,stretch,0);
         border-radius:10px ; 
        .widgetInfo{
            >p {
                opacity: 0.7;
                font-size: 0.8rem;    
            }
            >h4{
                font-size: 1.5rem;
            }

            > span {
                @include mixins.flex(row,unset,center,0.2rem)
            }

        }

        .widgetCircle{
            position: relative;
            @include mixins.square(5rem);
            border-radius: 50%;
            flex: none;
            display: grid;
            place-items: center;
            
       
            &::before{
                content:'';
                position:absolute;
                @include mixins.square(4rem);
                background-color: white;
                border-radius: 100%;
            }

            span{
                position: relative;
            }
       
        }

       


    }

    }

    .graph-container{
        @include mixins.flex(row,unset,unset,2rem);
        padding:0 2rem 2rem 0;

        >div{
            background-color: rgb(253, 253, 253);
            border-radius: 10px;
        }

     .revenue-chart{
       width: 100%;
       padding: 1rem 3rem;
       >h2{
        @include mixins.heading;
        margin:1rem 0 2rem 0.25rem;
        text-align: center;

       }

     }

     .dashboard-categories{
       width: 100%;
       max-width: 16rem;
       @include mixins.flex(column,center,unset,0);
       padding-bottom:2rem;
        >h2 {
            margin:1.5rem 0 2rem 0;
            text-align: center;
        }

        > div {
            overflow-y: auto;
            padding-left: 0.5rem;
        }

        .category-item{
            width: 100%;
            @include mixins.flex(row,space-between);
            padding:1rem;

            >h5{
               letter-spacing: 1px;
               font-weight: 300;
            }

            >div{
                margin-left: auto;
                width:6rem;
                background-color: rgb(234, 234, 234);
                height: 0.5rem;
                border-radius: 20px;
                flex: none;
            >div{
                border-radius: 20px;
                height: 100%;
            }

            }

            >span {
                font-size: 0.8rem;
                font-weight: 700;
            }


            


            
        }

     }
      


    }

    .transaction-container{
        display: flex;
        gap: 2rem;
        padding: 0 2rem 2rem 0;
        height: 30rem;
        >div {
            background-color: white;
            box-shadow: 0 10px 10px rgba(0,0,0,0.132);
        }

        .gender-chart{
            width: 100%;
            max-width: 20rem;
            padding: 1rem;
            position: relative;
            >h2{
                text-align: center;
                margin: 1.5rem 0 2rem 0;
                @include mixins.heading

            }
            > p {
                position: absolute;
                top:39%;
                left: 45%;
                font-size:2rem;
                color:rgba(0,0,0,0.634)
            }
        }

   


    }
}

.transaction-box{
    width: 100%;
    padding: 1rem;
    overflow-x: auto;
    >h2{
     margin: 1.5rem 0 0 0;
     @include mixins.heading
    }
  
  
 }
 .table{
    width: 100%;
    border-collapse: collapse;
   td{
    padding: 8px;
    text-align: left;
    vertical-align: middle;
   }
   th{
    font-weight: bold;
    font-size: 1.1rem;
    padding: 2rem 1rem;
   }
   tbody{
    tr{
        box-shadow: 0px 1px 1px rgba(0,0,0,0.093);
    }

    td{
        padding: 1rem;

        img {
            width: 4rem;
            height: 4rem;
            object-fit: contain;
            border-radius: 10px;
          }

          a {
            text-decoration: none;
            background-color: white;
            color: rgba(44, 104, 255, 0.9);
            padding: 0.25rem 0.5rem;
            border-radius: 10px;
          }

          .button {
            width: 2rem;
            height: 2rem;
            font-size: 1.1rem;
            border: none;
            outline: none;
            background-color: transparent;
            cursor: pointer;
            color: rgb(255, 44, 44);
          }
          .button:hover {
            opacity: 0.6;
          }

          &:first-child{
            border-left:none;
          }
          &:last-child{
            border-right:none;
          }
          
          
    }
   }



   }